/*____________________________________________________________________________________*/
.header-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  min-height: 12rem;
  background-color: #FFFFFF;
  z-index: 2;
}

.Header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Header__logo__name {
  letter-spacing: 0.06em;
  color: #545454;
  font-family: Georgia;
  font-size: 3.2rem;
  /*letter-spacing: 0.12rem;*/
  line-height: 110%;
}

.Header__logo__text {
  font-family: Arial;
  margin-top: 0.3rem;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  line-height: 1.07rem;
  padding-top: 10px;
  color: #292929;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item_active {
  border-bottom: 0.3rem solid #f1cdb3;
}

.list_link {
  font-size: 1.5rem;
  font-family: Arial;
  color: #292929;
  line-height: 160%;
}

.list__link-disabled {
  color: #545454;
}

.section {
  background-color: #F6F6F6;
}

.section__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 8rem;
}

.section__pets-title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.section__pets-title span {
  display: block;
}

.section__pets-cards {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 3rem;
}

.section__pets-cards .pets__card-item {
  margin: 0;
}

.section .main__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
}

.section .main__pagination-button {
  margin: 0 1rem;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #f1cdb3;
          box-shadow: inset 0 0 0 0.3rem #f1cdb3;
  border-radius: 100%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
}

.section .main__pagination-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.section .main__pagination-button-active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1cdb3;
  cursor: default;
}

.section .main__pagination-button-active:hover {
  background-color: #f1cdb3;
}

.section .main__pagination-button:disabled {
  -webkit-box-shadow: inset 0 0 0 0.3rem #CDCDCD;
          box-shadow: inset 0 0 0 0.3rem #CDCDCD;
}

.section .main__pagination-button:disabled:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 0.3rem #CDCDCD;
          box-shadow: inset 0 0 0 0.3rem #CDCDCD;
  cursor: default;
}


@media (max-width: 768px) {
  .header-pets {
    padding: 2rem;
  }
  .section__wrapper {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .section__pets-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__pagination {
    margin-top: 1rem;
  }
  .wrapper__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 568px) {
  .nav {
    display: none;
  }
  .header-pets {
    position: fixed;
  }
}

@media (max-width: 320px) {
  .nav {
    display: none;
  }
   .section__wrapper {
    padding-top: 13rem;
    padding-bottom: 2rem;
  }
  
  .section .main__pagination-button {
    margin: 0 0.3rem;
  }
  .popup__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup {
    padding: 0;
  }
}
/*# sourceMappingURL=pets.css.map */
/*# sourceMappingURL=pets.css.map */
